<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/Logs" />

    <target name="rollingFile"
            xsi:type="File"
            layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${message} ${exception:format=tostring}"
            fileName="${logDirectory}/log.txt"
            archiveFileName="${logDirectory}/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            createDirs="true"
            autoFlush="true" />

    
    <target xsi:type="ColoredConsole"
            name="console"
            layout="${time} ${level:uppercase=true:padding=1:fixedLength=true} ${logger:shortName=true} ${message} ${exception:format=tostring}"/>
    <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}"
                fileName="${basedir}/logs/${shortdate}.log" keepFileOpen="false" encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="mongoDefault">
      <filters>
        <when condition="length('${exception}') > 0" action="Log" />
      </filters>
    </logger>
    <logger name="*" minlevel="Info" writeTo="rollingFile" />
  </rules>
</nlog>